@use "./vars";

.cards-container {
  overflow: hidden;
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}

.product-card {
  width: 240px;
}

.product-hover:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-card-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 4px;
}

.product-card-info div p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
}

.product-card-info figure {
  margin: 0;
}

.product-card-info figure img {
  margin-right: 4px;
  width: 45px;
  height: 45px;
}

.product-card-info figure img:hover {
  cursor: pointer;
}
